@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "PPEditorialNew";
  src: url("/fonts/PPEditorialNew-Ultralight.woff");
}

@font-face {
  font-family: "TWKLausanne-200";
  src: url("/fonts/TWKLausanne-200.woff2");
}

@font-face {
  font-family: "TWKLausanne-400";
  src: url("/fonts/TWKLausanne-400.woff2");
}

body {
  min-height: 100vh;
  color: black;
  background: white;
  line-height: 1.6;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Roboto Serif', serif;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}